-e git+https://github.com/libindic/Transliteration.git#egg=transliteration
-e git+https://github.com/libindic/text-similarity.git#egg=textsimilarity
-e git+https://github.com/libindic/ucasort.git#egg=ucasort
-e git+https://github.com/libindic/spellchecker.git#egg=libindic_spellchecker
-e git+https://github.com/libindic/Soundex.git#egg=soundex
-e git+https://github.com/libindic/silpa-common.git#egg=silpa_common
-e git+https://github.com/libindic/shingling.git#egg=shingling
-e git+https://github.com/libindic/scriptrender.git#egg=scriptrender
-e git+https://github.com/libindic/payyans.git#egg=payyans
-e git+https://github.com/libindic/normalizer.git#egg=libindic_normalizer
-e git+https://github.com/libindic/inexactsearch.git#egg=inexactsearch
-e git+https://github.com/libindic/syllabalizer.git#egg=indicsyllabifier
-e git+https://github.com/libindic/indicngram.git#egg=libindic_ngram
-e git+https://github.com/libindic/indicfortune.git#egg=indicfortune
-e git+https://github.com/libindic/Hyphenation.git#egg=hyphenation
-e git+https://github.com/libindic/guesslanguage.git#egg=guesslanguage
-e git+https://github.com/libindic/chardetails.git#egg=libindic_chardetails
-e git+https://github.com/libindic/katapayadi.git#egg=katapayadi
-e git+https://github.com/libindic/indicstemmer.git#egg=libindic_stemmer
-e git+https://github.com/libindic/sandhi-splitter.git#egg=sandhisplitter
