#-e git+https://github.com/libindic/Transliteration.git#egg=transliteration
#-e git+https://github.com/libindic/indicstemmer.git#egg=indicstemmer
#-e git+https://github.com/libindic/scriptrender.git#egg=scriptrender
#-e git+https://github.com/libindic/silpa-common.git#egg=silpa_common
#-e git+https://github.com/libindic/spellchecker.git#egg=spellchecker
#-e git+https://github.com/libindic/text-similarity.git#egg=textsimilarity
-e git+https://github.com/libindic/Hyphenation.git@development#egg=libindic_hyphenation
-e git+https://github.com/libindic/Soundex.git@namespaced-development#egg=libindic_soundex
-e git+https://github.com/libindic/chardetails.git@development#egg=libindic_chardetails
-e git+https://github.com/libindic/guesslanguage.git@development#egg=libindic_guesslanguage
-e git+https://github.com/libindic/indicfortune.git@development#egg=libindic_fortune
-e git+https://github.com/libindic/indicngram.git@development#egg=libindic_ngram
-e git+https://github.com/libindic/inexactsearch.git@development#egg=libindic_inexactsearch
-e git+https://github.com/libindic/katapayadi.git@development#egg=libindic_katapayadi
-e git+https://github.com/libindic/normalizer.git#egg=libindic_normalizer
-e git+https://github.com/libindic/payyans.git@development#egg=libindic_payyans
-e git+https://github.com/libindic/shingling.git@development#egg=libindic_shingling
-e git+https://github.com/libindic/syllabalizer.git@development#egg=libindic-syllabifier
-e git+https://github.com/libindic/ucasort.git@development#egg=libindic_ucasort
