body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.multiplecolumns {
    -moz-column-width: 200px;;
    -webkit-column-width: 130px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-rule: 1px solid #111111;
    -moz-column-rule-color: #ddccb5;
    -moz-column-rule-style: ridge
    -webkit-column-rule: 1px solid #ddccb5;
}

.highlight {
    background-color: #ffff00;
}
