{% extends "silpa.html" %}
{% block modulescript %}
<script>
$(document).ready(function() {
$("form").submit(function(event)
{
    event.preventDefault();
    var jsonRequest = {
        "method" :  "chardetails.getdetails",
         "params" : $("input[name=character]", 'form').val(), 
         "id" : ""
    };
    id_result = $('#result');
    id_error = $('#errormessage');
    id_progress = $('#progress');
    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "JSONRPC",
        data: JSON.stringify(jsonRequest), 
        dataType: "json",
        beforeSend:function(){
            id_result.empty();
            id_error.empty();
            id_progress.html("Checking. Please Wait..");
        },
        success: function(msg) {
            var resultobj =  msg.result ;
            id_progress.empty();
            // Render it
            characters = resultobj['Characters'];

            for (var index in characters) {
              var character = characters[index];
              chardetails = resultobj[character]
              id_result.append("<table id='resulttable' class='table table-striped'><tr><th>Character</th><th>"+ character +" </th></tr></table>");
              var table_end = $('#resulttable tr:last')
              for (var property in chardetails) 
              {
                table_end.after("<tr><td>" + property +"</td><td>" + chardetails[property] +"</td></tr>" );
              };
              id_result.append("<br/>");
            };
        },
        error: function(msg) {
            id_progress.empty();
            id_error.html("<div class=\"alert alert-error\">Something went wrong. Please try again!</div>");
        }
    });
});
});
</script>
{% endblock %}

{% block content %}
<div class="well">
  <h2>Unicode Character Details</h2></hr>
  <p>Enter a character to get the unicode details
  </p>
  <form class="form-horizontal" action="" method="post">
    <div class="control-group">
      <label class="control-label" for="character">Character :</label>
      <div class="controls">
        <input type="text" name="character" id="character"/>
        <input type="hidden" name="action" value="CharDetails">
        <button class="btn"  type="submit" id="Char_Details" > Get Details </button>        
      </div>
    </div>
    </br>
  </form>
  <hr/>
  <div id="progress"></div>
  <div id="successmessage"></div>
  <div id="errormessage"></div>
  <div id="result"></div>
</div>
{% endblock %}
