{% extends "silpa.html" %}

{% block content %}
<div class="page-header">
  <h1>Welcome to Libindic!</h1>
</div>
<div>
  <p class="lead">Libindic is a web platform to host Free Software language processing applications. It consists of a web framework and a set of applications for processing Indian languages. It is a platform for porting existing and upcoming language processing applications to the web.</p>
  <p class="lead">Libindic can also be used as a python library or as a webservice from other applications. Libindic is currently under development. If you are interested in contributing contact  <a href="{{url_for('contact')}}">the developers</a></p>
  <p>
    <a class="btn btn-primary btn-lg" href="http://thottingal.in/blog/2009/06/16/announcing-project-silpa/">Read the project announcement</a>
  </p>
</div>
{% endblock %}
