<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {{ title }} - Indic Language Computing Platform </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Indian Language Computing Platform">
    <meta name="author" content="SILPA Developers">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="active">
              <a href="{{ url_for(main_page)}}">Home</a>
            </li>
            <li><a href="{{ url_for('static',filename='doc/index.html')}}">Documentation</a></li>
            <li><a href="http://silpa.smc.org.in/wiki">Wiki</a></li>
            <li><a href="{{ url_for('static',filename='doc/apis.html')}}">API</a></li>
            <li><a href="{{ url_for('static',filename='doc/credits.html')}}">Credits</a></li>
            <li><a href="{{ url_for('static',filename='doc/license.html')}}">License</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <!-- side bar goes here -->
          <ul class="nav nav-tabs nav-stacked">
            {% for module in modules %}
            <li><a href="{{ url_for(main_page + '/' + module if not main_page == '/' else main_page + module) }}">{{ module }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="span10">
          <!-- Main body goes here -->
          {% block content %}
          {% endblock %}
        </div>
      </di>
    </div>
    <!-- Lets make page load fast -->
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>    
  </body>
</html>
